<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.canciones">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Canciones">
        <activity
            android:name=".Gotic"
            android:exported="false" />
        <activity
            android:name=".Instrumental"
            android:exported="false" />
        <activity
            android:name=".Electronica"
            android:exported="false" />
        <activity
            android:name=".Metal"
            android:exported="false" />
        <activity
            android:name=".JPop"
            android:exported="false" />
        <activity
            android:name=".Activity3"
            android:exported="false" />
        <activity
            android:name=".Activity2"
            android:exported="false" />
        <activity
            android:name=".botones"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>